h1 {
  text-align: center;
}

h2 {
  font-weight: bold;
  color: navy;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
  margin-top: 1.5rem;
}

h4 {
  margin-top: 1.5rem;
}

img {
  border: 5;
}
